html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#FFFFFF;
}

.main {
	margin: auto;
	margin-top: 0px;
	height: 400px;
	width: 800px;
	background-color: #bbffbb;
}

.header {
	background-color: #FF7400;
	width: 800px;
	padding: 2px 0px 2px 0px;
	position: relative;
}

ul {
	
}

h1 {
	text-align: center;
}

li {
    border: 2px solid black;
    border-radius: 10px;
    background-color: blue;
    display: inline;
	padding: 0px 3px 0px 3px;
}

.button {
	color: red;
	text-decoration: none;
	
}

.button:hover {
	color:green;
}
