body {
    background-color: #ffffee;
}

#main {
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: #bbffbb;
}

div {
    background-color: red;
    height: 30px;
}

li {
    border: 2px solid black;
    border-radius: 15%;
    background-color: blue;
    display: inline;
    margin-top: 15px;
}