body {
    background-color: #ffffee;
}

#main {
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: #bbffbb;
}

.header {
    background-color: #aaff00;
    /*height: 30px;*/
}

ul {
    margin-top 200px;
    border: 2px dashed red;
}

li {
    border: 2px solid black;
    border-radius: 15%;
    background-color: blue;
    display: inline;
    margin-top: 10px;
}